# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.ipch
*.suo
*.sdf
*.opensdf
*.tlog

VistaDebug
VistaRelease
Win8Debug
Win8Release